body {
    font-family: sans-serif;
    background-color: GREEN;
    margin-top: 75px;
    
}
#header{
     background-color:steelblue;
     color:white;
     text-align:center;
     padding:5px;
}
#nav{
    line-height:30px;
    background-color:#48d1cc;
    color:white;
    height:350px;
    width:110px;
    float:left;
    padding:10px
}
.center {
    text-align: center;
}

.text-big {
    font-size: 700%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 700px;
}

