body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
    background-image:url("http://www.pptwallpapers.com/thumb/colors-yellow-powerpoint-template.jpg");
}

.center {
    text-align: center;
}

.text-big {
    font-size: 700%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 700px;
}

